* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  height: 100%;
  width: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  /* background: #e3e6f3; */
  background: #bfc3d4;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
}
#navbar {
  margin-right: 10px;
  text-decoration: none;
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.divnavbar {
  z-index: 999;
}
#naver li {
  position: relative;
}
#navbar li a {
  text-decoration: none;
  list-style-type: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.1s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
  border-bottom: #140303 solid 2px;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  background-color: #088178;
  bottom: -2px;
  left: 20px;
}

#usericon {
  height: 23px;
  width: 23px;
}
#shopping {
  height: 23px;
  width: 23px;
}
#more {
  width: 15px;
  border: none;
  background: #bfc3d4;
}
#search {
  height: 36px;
  padding-left: 38px;
  width: 280px;
  border: none;
  border-radius: 20px;
}
#searchicon {
  height: 25px;
  width: 25px;
  margin-left: 10px;
  padding-top: 10px;
  position: absolute;
}
#searchDiv {
  margin-left: 80px;
  margin-top: -8px;
}
/* nav end */
.section2 img {
  width: 100%;
}
.section2 button {
  margin-left: 580px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 50px;
  width: 220px;
  background-color: #1a1a1a;
  color: white;
}
.section3 {
  margin-top: 50px;
  background-color: #f1f2f4;
  padding: 30px;
}
.conatinerSec3 {
  display: flex;
  justify-content: flex-start;
}
.dtailright {
  padding-left: 80px;
  padding-top: 80px;
}
.dtailright h1 {
  color: rgb(251, 2, 2);
  font-size: 60px;
}
.dtailright h3 {
  font-size: 70px;
  font-weight: 500;
}
.dtailright span {
  font-weight: 600;
}
.dtailright p {
  line-height: 26px;
}
.section4 img {
  width: 100%;
}
/* .section5 {
  padding: 0 140px;
  /* padding-top: 50px; */

.containerSec5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.leftcontinetSec5 {
  padding: 110px;
}
.leftcontinetSec5 span {
  font-weight: 600;
}
.leftcontinetSec5 h4 {
  font-size: 60px;
}
.leftcontinetSec5 h1 {
  font-size: 60px;
  color: rgb(240, 14, 14);
}
.leftcontinetSec5 p {
  font-size: 14px;
  line-height: 22px;
  opacity: 80%;
}
.rightConatintSec5 {
  padding: 10px;
}
.rightConatintSec5 img {
  margin-left: 290px;
  margin-top: 10px;
}
.section6 {
  padding: 50px;
}
.box {
  height: 210px;
  width: 380px;
  background-color: #e3e5ec;
  border-radius: 10px;
}
.box img {
  height: 160px;
  width: 380px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.box h3 {
  padding-top: 10px;
  padding-left: 20px;
}
.containerSec6 {
  padding-right: 50px;
  justify-content: space-between;
  display: flex;

  flex-wrap: wrap;
  gap: 20px;
}
#crew {
  padding-bottom: 40px;
}
.section6 h4 span {
  font-size: 26px;
}

.section7 {
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: #dee9e8;
}
.section7 h5 {
  padding-top: 110px;
  font-weight: 500;
  font-size: 60px;
}
#tribe {
  font-weight: 700px;
}
.section7 button {
  height: 40px;
  width: 200px;
  font-size: 17px;
  border-radius: 10px;
  background-color: #7a22b0;
  color: white;
  border: none;
}
